  @import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=GFS+Didot&family=Poppins:wght@200;300;400&display=swap');


  /* font-family: 'DotGothic16', sans-serif;
font-family: 'GFS Didot', serif;
font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #FFC017;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
}

.navbar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.logo{
    width: 161px;
}

.nav-right{
    display: flex;
}

.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
    padding-right: 20px;
    align-items: center;
}

.nav-links button{
    width: 100px;
    height: 40px;
    background-color: #131313;
    color: #ffffff;
    border-radius: 30px;
    border: none;
}

.hero{
 display: flex;
 justify-content: flex-end;
 background-color: #FFC017;
 border-bottom: 1px solid #000000;
}


.hero-container{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    gap: 100px;
}

.hero-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    gap: 30px;
}

.hero-text h1{
    font-size: 106px;
    line-height: 96px;
}

.hero-text p{
    width: 500px;
    font-size: 24px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}

.hero-text button{
    margin-top: 30px;
    height: 50px;
    width: 250px;
    border-radius: 40px;
    background-color: #131313;
    color: #ffffff;
    border: none;
}

.hero-svg{
    width: 40%;
}

.trending{
    font-family: 'Poppins', sans-serif; 
    padding: 40px 0; 
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    justify-content: center;

}


.trend-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}



.trend-heading{
    display: flex;
    gap: 20px;
    align-items: center;
}

.trend-icon{
    border: 1px solid #000000;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trend-card-container{
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
}

.trend-card{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 376px;
    padding: 10px;
    align-items: start;
}

.card-number{
    font-size: 32px;
    color: rgba(146, 146, 146, 0.374);
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 10px;
}

.card-heading{
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-heading h4{
    font-size: 14px;
    font-weight: 500;
}

.card-heading img{
    border-radius: 50%;
    width: 20px;
}

.card-text p{
    font-size: 14px;
    font-weight: 800;
}

.card-text i{
    color: rgb(255, 234, 0);
}

.card-text>span>span{
    font-size: 12px;
}

.news{
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;
}

.section-container{
    display: flex;
    justify-content: center;
    display: flex;
    gap: 40px;
}

.card-section{
    width: 50%;
    display: flex ;
    flex-direction: column;
    gap: 40px;
}

.card-news{
    width: 100%;
    display: flex;
    justify-content: space-between;  
    gap: 60px;
}


.news-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
}

.news-text h2{
    font-size: 18px;
}

.news-text p{
    color: rgb(114, 114, 114);
    font-size: 14px;
    
}

.news-heading{
    display: flex;
    align-items: center;
}

.news-footer{
    color: rgb(60, 60, 60);
    display: flex; 
    justify-content: space-between;
    font-size: 14px;
}

.news-footer button{
    padding: 5px 5px;
    border-radius: 15px;
    border: none;
    color: rgb(59, 59, 59);
}

.image-news{

    width: 40%;
}

.image-news img{
    width: 200px;
}

.bookmark{
    padding-right: 20px;
}

.sticky-section{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
    background: none;
}

.sticky{
    position: sticky;
    top: 110px;
}

.anchor a{
    color: #1a8917;
    text-decoration: none;
}

.discover{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c6c6c6;
}

.discover-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 20px;
    padding-right: 10px;
}

.discover-heading{
    font-size: 20px;
}

.btn{
    height: 40px;
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
}

.sticky ul{
    font-size: 14px;
}

.footer-links{
    display: flex;
    list-style: none; 
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    font-size: 16px;
    padding-top: 20px;
    
}





